apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  labels:
    app: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: pankajmirdha/testing:b31178f39edf4d73076ff32e80d3bf2b22f4ccf6
          ports:
            - containerPort: 3002
          env:
           - name: APP_PORT
             valueFrom:
               configMapKeyRef:
                 name: myapp-gloable-config
                 key: APP_PORT  
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
  type: ClusterIP
