apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  labels:
    app: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: pankajmirdha/testing:0985396a29210c20ae4af311dc3b478637896959
          ports:
            - containerPort: 3002
          env:
           - name: APP_PORT
             valueFrom:
              configMapKeyRef:
               name: myapp-gloable-config
               key: APP_PORT  
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
  type: ClusterIP
